# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.settings/
bin/
*.launch

# Idea
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Minecraft / Forge run directory (generated)
run/

# Logs
*.log

# Misc
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip

# Local mod publishing folder
mcmodsrepo/
